#reward {
	background-color: black;
	overflow: hidden;
	/* background-image: url(../../assets/pool.svg); */
	background-image: url(../../assets/bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* height: 100vh; */
}
.bg-card {
	background: linear-gradient(180deg, rgba(62, 41, 37, 0.48) 0%, #18262a 100%);
	border: 1px solid #7a644c;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#range-input,
#range-input-two {
	border: solid 1px #f5af04;
	border-radius: 8px;
	cursor: pointer;
	height: 7px;
	outline: none;
	transition: background 450ms ease-in;
	-webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
	width: 14px;
	-webkit-appearance: none;
	border-radius: 50%;
	height: 14px;
	background: #f5af04;
}

/* loader css  */

.loader {
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid #f5af04;
	width: 30px;
	height: 30px;
	-webkit-animation: spin 1s linear infinite; /* Safari */
	animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (min-width: 1921px) {
	#reward {
		height: 100vh;
	}
}
